.mainpage{
    padding: 20px;    
    width: 100%;
}
.template_item{
    border: 1px solid gray;
    margin: 10px;
    padding: 2px 5px;
    display: inline-flex;
    border-radius: 5px;
    cursor: pointer;
    
    align-items: center;
}
.template_item_active{
    border: 1px solid gray;
    margin: 10px;
    padding: 2px 5px;
    display: inline-flex;
    border-radius: 5px;
    cursor: pointer;    
    align-items: center;
    background-color: #888888;
}